<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Dhishnya</title>

    <script src="/static/js/jquery_c.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="/static/js/inside.js" ></script>
    <script src="/static/js/main.js" ></script>
    <script src="/static/js/gif.js"></script>
    <script src="/static/js/gen.js"></script>
    <script src="/static/js/aud.js" ></script>
    <script src="/static/js/ran.js"></script>
    <script src="/static/js/re.js"></script>
    <script src="/static/js/proto_1mod.js"></script> 
    
    
    

    <link href="https://fonts.googleapis.com/css?family=Merriweather|Niramit|Roboto+Slab|Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarabun:700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/proto_1.css">      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/static/icons/quiz.ico" type="image/x-icon">
    <link rel="icon" href="/static/icons/quiz.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/trail.css">

</head>



<body>
    <div class="gif"></div>
    <h1 id="mainh">Please enable javascript to continue!!!</h1>
    <div id="mainbody">
        <div class="container_1">

            <header class="header">
                <div class="overlay">
                    <h1 style="font-family: 'Sarabun', sans-serif;">DHISHNYA<span style="color: #2d8659;font-size: 120%;font-family: 'Roboto Condensed', sans-serif;">&nbsp;</span></h1>
                    <br>
                </div>
            </header>

            <div id="sep">
                <h1 id="status">


                </h1>
            </div>
            <div id="cover">


                <audio id="player"></audio>

                <div id="imgcl">
                    <span id="s1">
                        <div id="play" > 
                            <img src="/static/icons/f4.png">
                        </div>
                    </span>

                    <span id="s2">
                        <div class="clock flip-clock-wrapper" style="margin:2em;">


                        </div>
                    </span>
                </div>
                <article class="main"> <div class="outcon">


                    <div class="panel"><form method="get">
                        <div class="pi">
                            <p class="p">1) 'OS' computer abbreviation usually means?</p>

                        </div>
                        <div class="incon">
                            <ul class="ul">
                                <li >
                                    <div class="l1">
                                        <label title="">

                                            <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Order of Significance</p>





                                        </label>
                                    </div>

                                </li>
                                <li >
                                    <div class="l1">
                                        <label title="">
                                            <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Open Software</p>





                                        </label>
                                    </div>

                                </li>
                                <li >
                                    <div class="l1">
                                        <label title="">
                                            <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Operating System</p>





                                        </label>
                                    </div>

                                </li>
                                <li >
                                    <div class="l1">
                                        <label title="">
                                            <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Optical Sensor</p>





                                        </label>
                                    </div>

                                </li>


                            </ul>
                        </div>
                    </form>
                </div>


                <div class="panel"><form method="get">
                    <div class="pi">
                        <p class="p">2) Ordinary table salt is sodium chloride. What is baking soda? </p>

                    </div>
                    <div class="incon">
                        <ul class="ul">
                            <li >
                                <div class="l1">
                                    <label title="">

                                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Potassium chloride</p>





                                    </label>
                                </div>

                            </li>
                            <li >
                                <div class="l1">
                                    <label title="">
                                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Potassium carbonate</p>





                                    </label>
                                </div>

                            </li>
                            <li >
                                <div class="l1">
                                    <label title="">
                                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Potassium hydroxide</p>





                                    </label>
                                </div>

                            </li>
                            <li >
                                <div class="l1">
                                    <label title="">
                                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Sodium bicarbonate</p>





                                    </label>
                                </div>

                            </li>


                        </ul>
                    </div>
                </form>
            </div>



            <div class="panel"><form method="get">
                <div class="pi">
                    <p class="p">3) Which of the following is responsible for the fact that Tennis ball bounces higher at high altitudes than in plains? </p>

                </div>
                <div class="incon">
                    <ul class="ul">
                        <li >
                            <div class="l1">
                                <label title="">

                                    <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Low Gravity</p>





                                </label>
                            </div>

                        </li>
                        <li >
                            <div class="l1">
                                <label title="">
                                    <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;High Gravity</p>





                                </label>
                            </div>

                        </li>
                        <li >
                            <div class="l1">
                                <label title="">
                                    <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Less dense air</p>





                                </label>
                            </div>

                        </li>
                        <li >
                            <div class="l1">
                                <label title="">
                                    <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Low atmospheric temperature</p>





                                </label>
                            </div>

                        </li>


                    </ul>
                </div>
            </form>
        </div>


        <div class="panel"><form method="get">
            <div class="pi">
                <p class="p">4) Which of the following states is India's largest Bauxite producer? </p>

            </div>
            <div class="incon">
                <ul class="ul">
                    <li >
                        <div class="l1">
                            <label title="">

                                <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Odisha</p>





                            </label>
                        </div>

                    </li>
                    <li >
                        <div class="l1">
                            <label title="">
                                <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Jharkhand</p>





                            </label>
                        </div>

                    </li>
                    <li >
                        <div class="l1">
                            <label title="">
                                <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Rajasthan</p>





                            </label>
                        </div>

                    </li>
                    <li >
                        <div class="l1">
                            <label title="">
                                <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Karnataka</p>





                            </label>
                        </div>

                    </li>


                </ul>
            </div>
        </form>
    </div>



    <div class="panel"><form method="get">
        <div class="pi">
            <p class="p">5) Who is the father of English Poetry? </p>

        </div>
        <div class="incon">
            <ul class="ul">
                <li >
                    <div class="l1">
                        <label title="">

                            <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Milton</p>





                        </label>
                    </div>

                </li>
                <li >
                    <div class="l1">
                        <label title="">
                            <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Wordsworth</p>





                        </label>
                    </div>

                </li>
                <li >
                    <div class="l1">
                        <label title="">
                            <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Chaucer</p>





                        </label>
                    </div>

                </li>
                <li >
                    <div class="l1">
                        <label title="">
                            <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Charles Dickens</p>





                        </label>
                    </div>

                </li>


            </ul>
        </div>
    </form>
</div>





<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">6) Which is a type of Electrically-Erasable Programmable Read-Only Memory? </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Flash</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Flange</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Fury</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;FRAM</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>






<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">7) Which scientist discovered the radioactive element radium? </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Isaac Newton</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Albert Einstein</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Benjamin Franklin</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Marie Curie</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>






<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">8) The purpose of choke in tube light is? </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;To decrease the current</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;To increase the current</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;To decrease the voltage momentarily</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;To increase the voltage momentarily</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>






<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">9) Who is the first Indian woman to win an Asian Games gold in 400m run? </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;M.L Valsamma</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;P.T Usha</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Kamaljit Sandhu</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;K Malleshwari</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>






<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">10) Tabo Monastery is located in which of the following states?  </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Arunachal Pradesh</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Himachal Pradesh</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Jammu & Kashmir</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Sikkim</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>







































</div></article>

</div>
<!-- Change count value -->
<footer class="footer">
    &nbsp;<span id="councon">Live: <span id="count" style="color:#3333ff"></span></span>
</footer>
</div>
</div>
</body>
</html>

